<div class="alert alert-danger" [hidden]="!error">
	{{errMessage}}
</div>
<form role="form" >
	<div class="form-group">
		<label for="id-employee">Employee ID</label> <input type="number"
			[(ngModel)]="id_employee" [ngModelOptions]="{standalone: true}" class="form-control" id="id-employee" name="id-employee" />
	</div>
	<div class="form-group">
		<label for="username">Username</label> <input type="text"
        [(ngModel)]="username" [ngModelOptions]="{standalone: true}" class="form-control" id="username" name="username" />
	</div>
    <div class="form-group">
		<label for="password">Password</label> <input type="password"
		[(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" name="password" />
	</div>
    
    <div class="form-group">
		<label for="permission">Permission level</label> <input type="number"
		[(ngModel)]="permission" [ngModelOptions]="{standalone: true}" class="form-control" id="permission" name="permission" />
	</div>
	<button type="submit" class="btn btn-primary" (click)="register()" >Register</button>
</form>