<!-- Create table-->
<h1>Challenges</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">From</th>
      <th scope="col">To</th>
      <th scope="col">Minimum Entries</th>
      <th scope="col">Reward</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of from">
        <td>{{f}}</td>
        <td>{{to[from.indexOf(f)]}}</td>
        <td>{{minEntries[from.indexOf(f)]}}</td>
        <td>{{rewards[from.indexOf(f)]}}</td>
    </tr>
  </tbody>
</table>
<div>
  
<form (ngSubmit)="giveAwards()">
  <input type="int" name="idAward" [(ngModel)]="idAward" placeholder="idAward">
  <button type="submit">Give Awards</button>

</form>
{{ message }}
</div>