
<h1>List of clients</h1>
<form (ngSubmit)="onSubmit()">
    <button type="submit">Entries</button>
</form>

<ng-container >
    <p *ngFor="let entry of entries">{{ formatEntry(entry) }}</p>
  </ng-container>


<table>
    <tr>
        <th>Id</th>
        <th>Address</th>
        <th>Email</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone</th>
    </tr>
    <tr *ngFor="let client of clients">
        <td>{{client.id}}</td>
        <td>{{client.address}}</td>
        <td>{{client.email}}</td>
        <td>{{client.name}}</td>
        <td>{{client.surname}}</td>
        <td>{{client.phone}}</td>
    </tr>
</table>
