<h1>Find client</h1>

<form (ngSubmit) = "onSubmit()">
    <label for="name">Enter id</label>
    <input type="int" id="id" [(ngModel)] = "id" name = "id">
    <button type="submit">Submit</button>
</form>
<form (ngSubmit) = "byName()">
    <label for="name">Get Person By Name</label>
    <input type="text" id="name" [(ngModel)] = "name" name = "name">
    <button type="submit">Submit</button>
</form>
{{ canEnter }}

<p *ngIf="clientShow">{{
    client.id + " " +
    client.address + " " +
    client.email + " " +
    client.name + " " +
    client.phone    
}}</p>
<button *ngIf="delButton" (click) = "deleteClient(client.id)">Delete</button>
<button *ngIf="delButton" (click) = "getEntriesByClient(client.id)">Entries</button>
<ng-container *ngIf="entriesShow">
    <p *ngFor="let entry of formatEntries(entries)">{{ entry }}</p>
  </ng-container>

<ng-container *ngIf="delButton">
    <button (click) = "Enter()"> Enter</button>
    <button (click) = "Exit()"> Exit</button>
</ng-container>
  
  